---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import "font-awesome";

@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";

.jumbotron {
	background: url({{site.baseurl}}/images/hurricane.png) top left no-repeat;
	background-position: cover;

	text-shadow: 3px 3px #000;
	color: #fff;

	small { color: #fff; }

}


// all but xs
@media (min-width: 768px) {
	// nav
	#navBar {
		height: 101px;
		margin-bottom: 35px;
	}

	#navInfo {
		strong {
			font-size: 2em;
			line-height: 1em;
			small {
				font-size: 0.8em;
				font-weight: normal;
			}
		}
	}

	#navPills {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.navbar-brand {
		margin-top: -34px;
		margin-left: 0;
		padding-top: 0;
	}

	.jumbotron {
		position: relative;
	}

	#freeAdmission {
		position: absolute;
		right: -30px;
		bottom: -75px;
		// background-color: #fff;
	}
}

// news images
.media-list.news .media-object { max-width: 64px; }
@media (min-width: 768px) {
	.media-list.news .media-object { max-width: 96px; }
}