---
layout: page
title: Sponsorships and Partners
permalink: /partners/
---

<p>
	For more information, contact Peter Ignacio of the City of Tampa Fire Rescue at (813) 274-8170, or by <a href="mailto:Peter.Ignacio@Tampagov.net">email</a>. Sponsor commitments and logos need to be received by May 1, 2015 in order to place logos in printed materials that will begin being distributed three weeks before the event.
</p>


<!-- <h3>Current Tampa Bay Hurricane Expo Vendors</h3> -->
<div id="sponsors">
	{% if site.data.vendors %}
	<ul>
		{% for vendor in site.data.vendors %}
		<li>{{vendor.name}}</li>
		{% endfor %}
	</ul>
	{% else %}
	<em class="lead">
		There are currently no Exhibitors or Sponsors registered.
	</em>
	{% endif %}
</div>

<!-- <div id="partner-images">
	{% for partner in site.data.partners%}
	<img src="{{site.baseurl}}/images/{{partner.image}}" alt="{{partner.name}}" class="img-thumbnail" style="max-width: 30%;">
	{% endfor %}
</div> -->