---
layout: default
title: Information for Exhibitors and Sponsors
permalink: /sponsor/
---

<div class="jumbotron">
	<div class="row">
		<div class="col-md-8">
			<h2>{{page.title}}</h2>
			<p>
				While our local emergency responders are ready for any disaster we face, they still look to you, our residents, to help.
			</p>
			<p class="small lead">
				The City and County are looking for vendors who provide either hurricane protection mitigation and/or survival products or services to participate at the Tampa Bay Hurricane Expo. Vendor opportunities are available for businesses, local non-profits and government agencies. 
			</p>
		</div>

		<div class="col-md-4 text-center">
			<img src="{{site.baseurl}}/images/vendors.jpg" alt="..." class="img-thumbnail">
		</div>
	</div>
	
</div>

<p>
	Expo organizers are looking for vendors who provide either hurricane protection mitigation and/or survival products or services to participate at the Tampa Bay Hurricane Expo. Vendor opportunities are available for businesses, local non-profits and government agencies. 
</p>
<p>
	Come be a part of the largest hurricane preparedness expo in Florida and get your important message out to the community. 
</p>


<div class="table-responsive">
	
	<table class="table table-striped table-hover well">
		<thead>
			<tr>
				<th></th>
				<th>Non-Profit Exhibitor</th>
				<th>Business Exhibitor</th>
				<th>Premium Booth Space</th>
				<th>Parking Sponsor</th>
			</tr>
			<tr>
				<th>Price</th>
				<th>$50</th>
				<th>$500</th>
				<th>$1000</th>
				<th>$5000</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Display Booth: 6-ft table and 2 folding chairs</td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Company name in Expo Map/Program guide handed to all attendees</td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Company name with link to your website on tampabayhurricaneexpo.com</td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Company logo/name on Expo print fliers and posters</td>
				<td></td>
				<td></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Company logo/name plus showcase (up to 100 words) on tampabayhurricaneexpo.com</td>
				<td></td>
				<td></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Premium space at entrance for oversized exhibit, including display vehicle if available</td>
				<td></td>
				<td></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Media Day participation with access and exposure to several news media outlets</td>
				<td></td>
				<td></td>
				<td></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>
			<tr>
				<td>Banner space at MOSI parking entrance (up to 6 ft. x 4 ft.)</td>
				<td></td>
				<td></td>
				<td></td>
				<td><i class="fa fa-fw fa-check-square-o"></i></td>
			</tr>

		</tbody>
	</table>

</div>

<div class="row">

	<div class="col-sm-6">
		<div class="well">
			{% include form-paypal.html %}
		</div>
		<p>
			<strong>
				If you do not wish to register and pay online, please use the printable <a href="{{site.baseurl}}/media/2015-Registration-Form.pdf" download>registration form</a>.
			</strong>
		</p>
		<p>
			Make checks payable to: City of Tampa Hurricane Expo<br>
			Mail to: Peter Ignacio, Tampa Fire Rescue, 808 East Zack Street, Tampa FL 33602
		</p>

		<em class="small">
			<p>
				All fees and registration forms must be received by May 15, 2015.  Late or day of Expo exhibitors may not be accommodated. Sponsor commitments and logos must be received by May 1, 2015 in order to place logos in advertisements that will begin running three weeks before the event.
			</p>

			<p>
				For more information please contact: Peter Ignacio, Tampa Office of Emergency Management Phone: (813) 274-8170 • Fax: (813) 274-7006 • Email: <a href="mailto:Peter.Ignacio@Tampagov.net">Peter.Ignacio@Tampagov.net</a>
			</p>
		</em>
	</div>
	
	<div class="col-sm-6">
		<h4>Current Tampa Bay Hurricane Expo Vendors</h4>
		{% if site.data.vendors %}
		<ul>
			{% for vendor in site.data.vendors %}
			<li>{{vendor.name}}</li>
			{% endfor %}
		</ul>
		{% else %}
		<em class="lead">
			There are currently no Exhibitors or Sponsors registered.
		</em>
		{% endif %}
	</div>

</div>