<footer class="small">

	<div class="container">

	<hr>

		<div class="row">

			<nav class="col-sm-7 col-sm-push-5 text-center">
				<ul class="nav nav-pills" style="display: inline-block;">
					<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
					<li><a href="{{ "/news" | prepend: site.baseurl }}">Expo News</a></li>
					<li><a href="{{ "/sponsor" | prepend: site.baseurl }}">Exhibitors & Sponsors</a></li>
					<li><a href="{{ "/partners" | prepend: site.baseurl }}">Our Partners</a></li>
					<li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact Us</a></li>
					<li><a href="https://www.facebook.com/pages/Tampa-Bay-Hurricane-Expo/123528671182856" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
					<!-- <li><a href="#" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li> -->
				</ul>
			</nav>

			<div class="col-sm-5 col-sm-pull-7">
				<p class="text-center">
					Copyright &copy; <span id="copyYear">2013</span> Hillsborough County & City of Tampa. All rights reserved.
				</p>
			</div>

		</div>

	</div>

</footer>
