<form class="form-horizontal">
	<fieldset>
		<legend>Register and Pay Online</legend>
		<div class="form-group">
			<label for="select" class="col-lg-3 control-label">Participation Level</label>
			<div class="col-lg-9">
				<select class="form-control" id="select">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">Name / Organization</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" name="org" placeholder="Name / Organization">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">Contact Name</label>
			<div class="col-lg-9">
				<div class="row">
					<div class="col-sm-6">
						<input type="text" class="form-control" name="first" placeholder="First Name">
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="last" placeholder="Last Name">
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">Contact Email Address</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" name="email" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-3 control-label">Billing Address</label>
			<div class="col-lg-9">
				<input type="text" class="form-control" name="address1" placeholder="Street Address">
				<input type="text" class="form-control" name="address2" placeholder="Street Address Continued">
				<div class="row">
					<div class="col-sm-6">
						<input type="text" class="form-control" name="city" placeholder="City">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="state" placeholder="State">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="zip" placeholder="Zip">
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-lg-9 col-lg-offset-3">
				<button type="reset" class="btn btn-default">Reset</button>
				<button type="submit" class="btn btn-danger">Submit</button>
			</div>
		</div>
	</fieldset>
</form>