<div id="navPills" class="container hidden-xs">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-pills pull-right">
				<li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
			</ul>
		</div>
	</div>
</div>

<nav id="navBar" class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
				<img class="hidden-xs" alt="{{ site.title }}" src="{{site.baseurl}}/images/logo-full.png">
				<span class="visible-xs">{{ site.title }}</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">
				{% for navitem in site.data.navitems %}
				<li><a href="{{ navitem.href | prepend: site.baseurl }}">{{navitem.text}}</a></li>
				{% endfor %}
			</ul>

			<!-- <ul class="nav navbar-nav navbar-right"></ul> -->

		</div>
	</div>
</nav>